section {
   & h2 {
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
   }
}

form {
   padding: 1.2rem 0;

   & div {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 1rem;
   }
   
   & div:last-child {
      flex-direction: row;
      align-items: start;
      justify-content: center;
      padding-bottom: 0;
   }

   & input {
      width: 100%;
      max-width: 24rem;
   }
}

table {
   margin-bottom: 6rem;
}